
{% extends "layout.html" %} {% block content %} <!-- Main jumbotron for a primary marketing message or call to action --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
<canvas id="myChart"  width="250" height="250"></canvas>
<canvas id="myChart1" width="250" height="250"></canvas>
<canvas id="myChart2" width="250" height="250"></canvas>
<dl>
{% for i in tones %}
   {% for x, z in i.iteritems() %}
   <dt>{{x}}</dt>
   <dd>{{z}}</dd> 
   {% endfor %}
{% endfor %}

</dl>
    </div>
  </div>
</div>
<script>
var ctx = $("#myChart").get(0).getContext("2d");
var ctx1 = $("#myChart").get(0).getContext("2d");
var ctx2 = $("#myChart").get(0).getContext("2d");

var options = {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero : true,

    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(0,0,0,.05)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,

    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,

    //Boolean - If there is a stroke on each bar
    barShowStroke : true,

    //Number - Pixel width of the bar stroke
    barStrokeWidth : 2,

    //Number - Spacing between each of the X value sets
    barValueSpacing : 5,

    //Number - Spacing between data sets within X values
    barDatasetSpacing : 1,
}
var data = {
    labels: ["Anger", "Disgust", "Fear", "Joy", "Sadness"],
    datasets: [
        {
            label: "Emotion Tone",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: {{tones[0]}}
        }
    ]
};

var data1 = {
    labels: ["Analytical", "Confident", "Tentative"],
    datasets: [
        {
            label: "Writing Tone",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: {{tones[1]}}
        }
    ]
};

var data2 = {
    labels: ["Openness", "Conscientiousness", "Extraversion", "Agreeableness", "Emotional Range"],
    datasets: [
        {
            label: "Social Tone",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: {{tones[2]}}
        }
    ]
};

var myBarChart2 = new Chart(ctx2).Bar(data2, options);
var myBarChart1 = new Chart(ctx1).Bar(data1, options);
var myBarChart = new Chart(ctx).Bar(data, options);
</script>

{% endblock %}

